[submodule "targets/vector-website"]
	path = targets/vector-website
	url = git@github.com:timberio/vector-website.git
	branch = master
[submodule "targets/vector"]
	path = targets/vector
	url = git@github.com:timberio/vector.git
	branch = master
[submodule ".meta/vector/v0.10"]
	path = .meta/vector/v0.10
	url = git@github.com:timberio/vector.git
	branch = v0.10
[submodule ".meta/vector/master"]
	path = .meta/vector/master
	url = git@github.com:timberio/vector.git
	branch = master
[submodule "targets/vector-management"]
	path = targets/vector-management
	url = git@github.com:timberio/vector-management.git
	branch = master